{% extends "base.html" %}
{% block content %}
  <section class="col-lg-12">
    {% if perms.auth.management_permission %}
    <p>
      <a href="{% url 'reportes:crear_reporte' %}" class="btn btn-info">Crear nuevo reporte</a>
    </p>
    {% endif %}
    <h2>Reportes del servidor</h2>
    {% for reporte in object_list %}
      <div class="card border-primary mb-3">
        <div class="card-header">{{reporte.created_at}}</div>
        <div class="card-body">
          <h4 class="card-title">Este reporte {% if reporte.estado %} se ha solucionado. {% else %} esta en revisión para su solución {% endif %}</h4>
          <p class="card-text">{{reporte.mensaje}}</p>
          <p>
            <a href="{% url 'reportes:editar_reporte' pk=reporte.id %}" class="btn btn-primary">Editar</a>
          </p>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
