{% extends "base.html "%}
{% block content %}
<section class="col-lg-12">
  <form method="POST">
    {% csrf_token %}
    <div class="form">
      <div>
        <label for="username">Nombre de usuario:</label>
        <input class="form-control" type="text" name="username"/>
      </div>
    </div>
    <div>
      <label for="username">Contraseña:</label>
      <input class="form-control" type="password" name="password"/>
    </div>
    <div>
      <button type="submit" class="btn btn-success">Entrar</button>
    </div>
  </form>
</section>
{% endblock %}
